<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.schoolmarket.mapper.OperationLogMapper">
    <resultMap id="BaseResultMap" type="com.example.schoolmarket.entity.OperationLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="type" property="type" />
        <result column="content" property="content" />
        <result column="ip" property="ip" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM operation_logs ORDER BY create_time DESC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM operation_logs WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.schoolmarket.entity.OperationLog">
        INSERT INTO operation_logs (user_id, username, type, content, ip, create_time)
        VALUES (#{userId}, #{username}, #{type}, #{content}, #{ip}, NOW())
    </insert>

    <select id="search" resultMap="BaseResultMap">
        SELECT * FROM operation_logs
        <where>
            <if test="keyword != null and keyword != ''">
                AND (username LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="date != null and date != ''">
                AND DATE(create_time) = #{date}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectByPage" resultMap="BaseResultMap">
        SELECT * FROM operation_logs ORDER BY create_time DESC LIMIT #{offset}, #{limit}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM operation_logs
    </select>

    <select id="countByKeyword" resultType="int">
        SELECT COUNT(*) FROM operation_logs
        <where>
            <if test="keyword != null and keyword != ''">
                AND (username LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
</mapper>